{% extends 'main/base.html' %}
{% block content %}
    <!--=================== Blog Template ===================-->
    <main class="blog-page">
        <section class="blog-content paira-gap-2">
            <div class="container">
                <div class="row">
                    <div class="paira-gap-1">
                        <h1 class="page-header margin-bottom-0 text-center">News</h1>
                        <article class="col-md-12 margin-top-30 text-left text-capitalize">
                            <h3 class="margin-clear margin-bottom-30"><a href="single-blog.html"><strong>yoga free demo blog post 1</strong></a></h3>
                            <div class="featured-image">
                                <a href="single-blog.html"><img src="assets/articles/yoga-html-template-blog-1.jpg" alt="" class="img-responsive center-block margin-bottom-20 full-width" /></a>
                            </div>
                            <p class="margin-clear blog-post-widget"><a href="single-blog.html">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                        </article>
                        <article class="col-md-12 margin-top-30 text-left text-capitalize">
                            <h3 class="margin-clear margin-bottom-30"><a href="single-blog.html"><strong>yoga free demo blog post 2</strong></a></h3>
                            <div class="featured-image">
                                <a href="single-blog.html"><img src="assets/articles/yoga-html-template-blog-2.jpg" alt="" class="img-responsive center-block margin-bottom-20 full-width" /></a>
                            </div>
                            <p class="margin-clear blog-post-widget"><a href="single-blog.html">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                        </article>
                        <article class="col-md-12 margin-top-30 text-left text-capitalize">
                            <h3 class="margin-clear margin-bottom-30"><a href="single-blog.html"><strong>yoga free demo blog post 3</strong></a></h3>
                            <div class="featured-image">
                                <a href="single-blog.html"><img src="assets/articles/yoga-html-template-blog-3.jpg" alt="" class="img-responsive center-block margin-bottom-20 full-width" /></a>
                            </div>
                            <p class="margin-clear blog-post-widget"><a href="single-blog.html">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                        </article>
                        <article class="col-md-12 margin-top-30 text-left text-capitalize">
                            <h3 class="margin-clear margin-bottom-30"><a href="single-blog.html"><strong>yoga free demo blog post 4</strong></a></h3>
                            <div class="featured-image">
                                <a href="single-blog.html"><img src="assets/articles/yoga-html-template-blog-4.jpg" alt="" class="img-responsive center-block margin-bottom-20 full-width" /></a>
                            </div>
                            <p class="margin-clear blog-post-widget"><a href="single-blog.html">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                        </article>
                        <article class="col-md-12 margin-top-30 text-left text-capitalize">
                            <h3 class="margin-clear margin-bottom-30"><a href="single-blog.html"><strong>yoga free demo blog post 5</strong></a></h3>
                            <div class="featured-image">
                                <a href="single-blog.html"><img src="assets/articles/yoga-html-template-blog-5.jpg" alt="" class="img-responsive center-block margin-bottom-20 full-width" /></a>
                            </div>
                            <p class="margin-clear blog-post-widget"><a href="single-blog.html">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                        </article>
                        <article class="col-md-12 margin-top-30 text-left text-capitalize">
                            <h3 class="margin-clear margin-bottom-30"><a href="single-blog.html"><strong>yoga free demo blog post 6</strong></a></h3>
                            <div class="featured-image">
                                <a href="single-blog.html"><img src="assets/articles/yoga-html-template-blog-1.jpg" alt="" class="img-responsive center-block margin-bottom-20 full-width" /></a>
                            </div>
                            <p class="margin-clear blog-post-widget"><a href="single-blog.html">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                        </article>
                        <div class="text-center col-md-12 col-sm-12 col-xs-12 margin-top-30">
                            <ul class="pagination list-inline margin-clear">
                                <li class="disabled"><a><span><i class=" fa fa-angle-left"></i></span></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#" title="">2</a></li>
                                <li><a href="#"><i class=" fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--=================== Footer Container ===================-->
{% endblock%}